body{
    background-color: rgb(255, 241, 40);
}
h1{
    text-align: center;
    text-decoration: underline;
    color: rgba(218, 141, 0, 0.801);
    text-indent: 30px;
}
h2{
    text-align: center;
    color: rgb(255, 174, 0);
    text-transform: initial;
}
h3{
    text-align: center;
    color: brown;
    text-decoration: line-through;
}
p{
    text-align: justify;
    color: black;
    letter-spacing: normal;
}